body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.header {
  width: 100%;
  height: 60px;
  color: white;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
}

.button {
  background-color: transparent;
  color: tomato;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
}

.button:disabled {
  cursor: not-allowed;
}

.button:disabled > svg {
  fill: gray;
}

.button:disabled > svg {
  fill: gray;
}

.button > svg {
  fill: tomato;
}

.button:hover {
  opacity: 0.8;
}

.button.inactive {
  color: black;
  padding: 4px 8px;
}

.button.inactive > svg {
  fill: black;
}

.button.active {
  color: green;
  padding: 4px 8px;
}

.button.active > svg {
  fill: green;
}

.button.icon {
  padding: 8px;
}

.input {
  padding: 4px;
  min-width: 200px;
  max-width: 600px;
  font-size: 14px;
  flex-grow: 1;
  border: none;
  outline: none;
  border-bottom: 1px solid tomato;
}

.form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px auto;
  min-width: 270px;
  max-width: 800px;
}

.todo .text {
  flex-grow: 1;
  text-align: left;
  font-size: 18px;
}

.todo + .todo {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.filter-wrapper {
  margin: 12px 0;
}

.list-wrapper {
  margin: 12px 0;
}

.container {
  padding: 8px;
  text-align: center;
}
